[Unit]
Description=api gateway for multipurpose server
After=network.target

[Service]
ExecStart=/usr/local/bin/mps-notifications
Restart=on-failure

[Install]
WantedBy=multi-user.target